body {
  height: 100vh;
  position: relative;
}

.Title {
  display: flex;
  justify-content: center;
  text-decoration: underline;

  height: 5vh;
  font-size: 3rem;
  text-decoration-thickness: 2px;
}

.Loading {
  position: absolute;

  top: 40%;
  left: 50%;
  transform: translate(-50%, 50%);
}

.WeatherContainer {
  position: absolute;
  background-color: rgb(195, 203, 236);

  height: 35vh;
  width: 25vw;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -100%);

  & > .WeatherContainerTitle {
    display: flex;
    box-sizing: border-box;
    justify-content: center;
    background-color: rgb(166, 179, 229);
    font-style: italic;

    padding-top: 1vh;
    width: 100%;
    height: 15%;
    font-size: 2rem;
  }

  & > .WeatherContainerBody {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 85%;

    & > div {
      padding-left: 1rem;
      padding-top: 1rem;
      font-size: 1.2rem;
    }

    & > .TempChange {
      width: fit-content;
      margin-top: auto;

      margin-left: 1rem;
      margin-bottom: 1vh;
      font-size: 1rem;
    }
  }


}

.myForm {
  display: flex;
  border: 1px black solid;
  position: absolute;
  align-items: center;
  justify-content: center;

  top: 60%;
  left: 50%;
  transform: translate(-50%, 100%);

  & > .Add {
    font-size: 1.4rem;
    font-weight: 300;
  }

  & > button {
    align-self: stretch;
  }
}

.Body {
  height: 95vh;
}
